.ow-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    backdrop-filter: blur(4px) ;
}

/* For mobile users. Yuck! */
@media only screen and (max-width: 800px) {
.search-bar {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.player-search-field {
    width: 90%;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 30px;
    color: black;
}

.player-search-field::placeholder {
    color:rgba(60, 60, 60, 0.8)
}
.player-search-button {
    background: transparent;
    border-radius: 50%;
    border: 0;
    color: black;
    font-size: 30px;
}

.player-search-button:hover {
    color: rgba(250, 156, 29, 1);
}

.player-search-button:active {
    color: rgba(250, 156, 29, 1);
    transform: translateY(2px);
}

.card {
    border-radius: 10px;
}

.refresh-button {
    background: transparent;
    color: black;
    border: 0;
    border-radius: 50%;
}

.delete-button {
    background: transparent;
    color: black;
    border: 0;
    border-radius: 50%;
}

.rank {
    background: transparent;
    border-color: black;
    color: black;
    border-radius: 50%;
}

.rank:active {
    transform: translateY(1px);
}

.sort-button {
    font-size: 30px;
    background: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 30px;
    padding-left: 15px;
    padding-right   : 15px;
    margin: 5px;
    border: 0;
}

.sort-button:hover {
    background-color: rgba(250, 156, 29, 1);
}

.sort-button:active {
    background-color: rgba(250, 156, 29, 1);
    transform: translateY(2px);
}

.deleteAll-button:hover { 
    background-color: rgba(250, 0, 0, 1);
}